
\.qsys_edit/

db/

incremental_db/

output_files/

simulation/

*.bak

*.rpt

src/qsys/system/synthesis/

src/qsys/system/system\.bsf

src/qsys/system/system\.cmp

src/qsys/system/system\.html

src/qsys/system/system\.xml
