
\.qsys_edit/

db/

incremental_db/

output_files/

simulation/

*.bak

*.rpt

src/qsys/system/synthesis/

src/qsys/system/system\.bsf

src/qsys/system/system\.cmp

src/qsys/system/system\.html

src/qsys/system/system\.xml
/lattice/impl1
/lattice/sdr_tcr.dir
/lattice/.run_manager.ini
/lattice/promote.xml
/lattice/reportview.xml
/lattice/ip/a2f_fifo/a2f_fifo.cst
/lattice/ip/a2f_fifo/a2f_fifo.edn
/lattice/ip/a2f_fifo/a2f_fifo.v
/lattice/ip/a2f_fifo/a2f_fifo_generate.log
/lattice/ip/a2f_fifo/a2f_fifo_tmpl.v
/lattice/ip/a2f_fifo/generate_core.tcl
/lattice/ip/a2f_fifo/generate_ngd.tcl
/lattice/ip/a2f_fifo/msg_file.log
/lattice/ip/a2f_fifo/tb_a2f_fifo_tmpl.v
/lattice/ip/a2f_fifo/archv
/lattice/ip/f2a_fifo/f2a_fifo.cst
/lattice/ip/f2a_fifo/f2a_fifo.edn
/lattice/ip/f2a_fifo/f2a_fifo.fdc
/lattice/ip/f2a_fifo/f2a_fifo.ldc
/lattice/ip/f2a_fifo/f2a_fifo.v
/lattice/ip/f2a_fifo/f2a_fifo_generate.log
/lattice/ip/f2a_fifo/f2a_fifo_tmpl.v
/lattice/ip/f2a_fifo/generate_core.tcl
/lattice/ip/f2a_fifo/generate_ngd.tcl
/lattice/ip/f2a_fifo/msg_file.log
/lattice/ip/f2a_fifo/tb_f2a_fifo_tmpl.v
/lattice/ip/f2a_fifo/archv
/lattice/sdr_tcl.html
/lattice/ip/pll/archv
/lattice/ip/pll/generate_core.tcl
/lattice/ip/pll/generate_ngd.tcl
/lattice/ip/pll/msg_file.log
/lattice/ip/pll/pll.cst
/lattice/ip/pll/pll.edn
/lattice/ip/pll/pll.fdc
/lattice/ip/pll/pll.ldc
/lattice/ip/pll/pll.v
/lattice/ip/pll/pll_generate.log
/lattice/ip/pll/pll_tmpl.v
/lattice/top.v.str
/lattice/sim
/lattice/simpostgate
/lattice/.common_gui.ini
/lattice/tc_violations.txt
/lattice/sdr.ccl
/lattice/.spreadsheet_view.ini
/lattice/.setting.ini
/lattice/.spread_sheet.ini
/lattice/.recovery
Debug
ecpu
.metadata
/lattice/ip/cpucmd_fifo/cpucmd_fifo.ldc
/lattice/ip/cpucmd_fifo/cpucmd_fifo.cst
/lattice/ip/cpucmd_fifo/cpucmd_fifo.edn
/lattice/ip/cpucmd_fifo/cpucmd_fifo.fdc
/lattice/ip/cpucmd_fifo/tb_cpucmd_fifo_tmpl.v
/lattice/ip/cpucmd_fifo/cpucmd_fifo.v
/lattice/ip/cpucmd_fifo/cpucmd_fifo_generate.log
/lattice/ip/cpucmd_fifo/cpucmd_fifo_tmpl.v
/lattice/ip/cpucmd_fifo/generate_core.tcl
/lattice/ip/cpucmd_fifo/generate_ngd.tcl
/lattice/ip/cpucmd_fifo/msg_file.log
archv
