FREQUENCY PORT "ft_clk" 100.000000 MHz ;
PROHIBIT SITE "A6" ;
PROHIBIT SITE "B6" ;
PROHIBIT SITE "A19" ;
PROHIBIT SITE "B20" ;
PROHIBIT SITE "F17" ;
PROHIBIT SITE "G18" ;
PROHIBIT SITE "E16" ;
PROHIBIT SITE "F16" ;
PROHIBIT SITE "C18" ;
PROHIBIT SITE "D17" ;
PROHIBIT SITE "A4" ;
PROHIBIT SITE "A5" ;
PROHIBIT SITE "B5" ;
PROHIBIT SITE "C5" ;
PROHIBIT SITE "C4" ;
PROHIBIT SITE "B4" ;
SYSCONFIG SLAVE_PARALLEL_PORT=ENABLE ;
USE PRIMARY NET "clk" ;
USE PRIMARY NET "clk_sr1_c" ;
USE PRIMARY NET "clk_sr2_c" ;
