BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "ft_clk" 100.000000 MHz ;
DEFINE PORT GROUP "afe_rx" "afe_rx_d[11]" 
"afe_rx_d[10]" 
"afe_rx_d[9]" 
"afe_rx_d[8]" 
"afe_rx_d[7]" 
"afe_rx_d[6]" 
"afe_rx_d[5]" 
"afe_rx_d[4]" 
"afe_rx_d[3]" 
"afe_rx_d[2]" 
"afe_rx_d[1]" 
"afe_rx_d[0]" ;
SYSCONFIG SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=ENABLE MCCLK_FREQ=9.7 CONFIG_IOVOLTAGE=3.3 ;
PROHIBIT SITE "A6" ;
PROHIBIT SITE "B6" ;
PROHIBIT SITE "A19" ;
PROHIBIT SITE "B20" ;
PROHIBIT SITE "F17" ;
PROHIBIT SITE "G18" ;
PROHIBIT SITE "E16" ;
PROHIBIT SITE "F16" ;
PROHIBIT SITE "C18" ;
PROHIBIT SITE "D17" ;
PROHIBIT SITE "A4" ;
PROHIBIT SITE "A5" ;
PROHIBIT SITE "B5" ;
PROHIBIT SITE "C5" ;
PROHIBIT SITE "C4" ;
PROHIBIT SITE "B4" ;
